.u-section-1 .u-sheet-1 {
  min-height: 1224px;
}

.u-section-1 .u-text-1 {
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 1.6;
  margin: 71px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  margin: 29px 0 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.3889em;
  margin-left: 0;
  margin-right: 0;
}

.u-section-1 .u-icon-3 {
  font-size: 1.3889em;
  margin-left: 0;
  margin-right: 0;
  vertical-align: 0px;
}

.u-section-1 .u-text-3 {
  line-height: 1.6;
  margin: 45px 0 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 71px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 517px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 45px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 600;
  margin: 16px 29px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 5px 45px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 600;
  margin: 29px 45px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 5px 5px 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 600;
  margin: 29px 45px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 5px 16px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 18px 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 45px 0 0;
}

.u-section-1 .u-text-12 {
  font-weight: 600;
  margin: 16px 29px 0 0;
}

.u-section-1 .u-text-13 {
  margin: 5px 45px 0 0;
}

.u-section-1 .u-text-14 {
  font-weight: 600;
  margin: 29px 45px 0 0;
}

.u-section-1 .u-text-15 {
  margin: 5px 5px 0 0;
}

.u-section-1 .u-text-16 {
  font-weight: 600;
  margin: 29px 45px 0 0;
}

.u-section-1 .u-text-17 {
  margin: 5px 16px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 18px 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 45px 0 0;
}

.u-section-1 .u-text-19 {
  font-weight: 600;
  margin: 16px 29px 0 0;
}

.u-section-1 .u-text-20 {
  margin: 5px 45px 0 0;
}

.u-section-1 .u-text-21 {
  font-weight: 600;
  margin: 29px 45px 0 0;
}

.u-section-1 .u-text-22 {
  margin: 5px 5px 0 0;
}

.u-section-1 .u-text-23 {
  font-weight: 600;
  margin: 29px 45px 0 0;
}

.u-section-1 .u-text-24 {
  margin: 5px 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 426px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    min-height: 979px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    line-height: 1.8;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1904px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    line-height: 1.8;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }
}