 .u-section-1 {
  background-image: url("images/p3-1.webp");
  background-position: 50% 50%;
  min-height: 667px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 550px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 421px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 316px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 199px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 256px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 71px 0 60px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.2223em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 445px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 732px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}