 .u-section-1 {
  background-image: url("images/p2-1.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 666px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 464px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 326px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 421px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 213px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 88px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 199px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1544px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 58px 247px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.6;
  margin: 32px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 145px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 500;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 145px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 17px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 17px 0 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.6;
  margin: 35px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 37px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 58px 0 0;
}

.u-section-2 .u-text-9 {
  line-height: 1.6;
  margin: 21px 0 57px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1519px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 47px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 120px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1499px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1599px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 118px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 21px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 114px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    line-height: 1.4;
    width: auto;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 505px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 38px 0 0 -3px;
}

.u-section-3 .u-list-1 {
  margin-top: 38px;
  margin-bottom: 39px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 357px;
  grid-gap: 20px 20px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 11px 20px;
}

.u-section-3 .u-group-1 {
  width: 68px;
  min-height: 68px;
  background-image: none;
  height: auto;
  margin: 6px auto 0 9px;
}

.u-section-3 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: -68px 55px 0 95px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 6px 0 0 95px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 11px 20px;
}

.u-section-3 .u-group-2 {
  width: 68px;
  min-height: 68px;
  background-image: none;
  height: auto;
  margin: 6px auto 0 9px;
}

.u-section-3 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: -68px 55px 0 95px;
}

.u-section-3 .u-text-7 {
  font-weight: normal;
  margin: 6px 0 0 95px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 11px 20px;
}

.u-section-3 .u-group-3 {
  width: 68px;
  min-height: 68px;
  background-image: none;
  height: auto;
  margin: 6px auto 0 9px;
}

.u-section-3 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: -68px 55px 0 95px;
}

.u-section-3 .u-text-10 {
  font-weight: 400;
  margin: 6px 0 0 95px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 70px;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 46px;
    margin-bottom: 38px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 363px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-group-1 {
    margin-top: 0;
    margin-left: 20px;
    height: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 20px;
    margin-left: 102px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 8px;
    margin-left: 101px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-group-2 {
    margin-top: 0;
    margin-left: 20px;
    height: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 20px;
    margin-left: 102px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 8px;
    margin-left: 101px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-group-3 {
    margin-top: 0;
    margin-left: 20px;
    height: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-right: 20px;
    margin-left: 102px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 8px;
    margin-left: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 147px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 19px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -67px;
    margin-right: 0;
    margin-left: 97px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 9px;
    margin-left: 97px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 19px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -67px;
    margin-right: 0;
    margin-left: 97px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 9px;
    margin-left: 97px;
  }

  .u-section-3 .u-group-3 {
    margin-top: 19px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -67px;
    margin-right: 0;
    margin-left: 97px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 9px;
    margin-left: 97px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 39px;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 39px;
    margin-bottom: 46px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 378px;
  }

  .u-section-3 .u-group-1 {
    width: 59px;
    min-height: 59px;
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    font-size: 2.25rem;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -66px;
    margin-left: 74px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 8px;
    margin-left: 74px;
  }

  .u-section-3 .u-group-2 {
    width: 59px;
    min-height: 59px;
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-6 {
    margin-top: -66px;
    margin-left: 74px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 8px;
    margin-left: 74px;
  }

  .u-section-3 .u-group-3 {
    width: 59px;
    min-height: 59px;
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-9 {
    margin-top: -66px;
    margin-left: 74px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 8px;
    margin-left: 74px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 482px;
  }

  .u-section-3 .u-group-1 {
    width: 45px;
    min-height: 42px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: -30px;
    margin-right: 25px;
    margin-left: 60px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 15px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-group-2 {
    width: 45px;
    min-height: 42px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: -30px;
    margin-right: 25px;
    margin-left: 60px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 15px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-group-3 {
    width: 45px;
    min-height: 42px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-9 {
    margin-top: -30px;
    margin-right: 25px;
    margin-left: 60px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 15px;
    margin-left: 4px;
    margin-right: 4px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 616px;
}

.u-section-4 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -70px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 526px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 600;
  margin: 50px 0 0;
}

.u-section-4 .u-text-3 {
  line-height: 2;
  font-weight: normal;
  margin: 9px 0 0 20px;
}

.u-section-4 .u-layout-cell-2 {
  background-position: 50% 50%;
  min-height: 526px;
}

.u-section-4 .u-container-layout-2 {
  padding: 13px 48px;
}

.u-section-4 .u-image-1 {
  height: 500px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 434px;
  }

  .u-section-4 .u-image-1 {
    height: 395px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 332px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 56px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 133px;
    height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 33px;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 513px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 30px 10px 3px;
  }

  .u-section-4 .u-image-1 {
    height: 548px;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 30px;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 323px;
  }

  .u-section-4 .u-image-1 {
    height: 337px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 407px;
}

.u-section-5 .u-text-1 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2;
  margin: 50px 570px 0 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.6;
  margin: 0;
}

.u-section-5 .u-list-1 {
  margin-top: 0;
  margin-bottom: 22px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 203px;
  grid-gap: 10px 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 8px 30px 10px;
}

.u-section-5 .u-icon-1 {
  width: 93px;
  height: 93px;
  margin: 0 112px 0 109px;
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 16px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 8px 30px 10px;
}

.u-section-5 .u-icon-2 {
  width: 93px;
  height: 93px;
  margin: 0 112px 0 109px;
  padding: 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-5 .u-text-6 {
  margin: 16px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 8px 30px 10px;
}

.u-section-5 .u-icon-3 {
  width: 93px;
  height: 93px;
  margin: 0 112px 0 109px;
  padding: 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-5 .u-text-8 {
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 167px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-icon-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-icon-3 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 397px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 482px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 10px;
    margin-right: 417px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -78px;
    margin-left: 129px;
  }

  .u-section-5 .u-text-4 {
    width: 264px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 10px;
    margin-right: 417px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: -78px;
    margin-left: 129px;
  }

  .u-section-5 .u-text-6 {
    width: 264px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 10px;
    margin-right: 417px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: -78px;
    margin-left: 129px;
  }

  .u-section-5 .u-text-8 {
    width: 264px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 407px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-icon-1 {
    width: 85px;
    height: 85px;
    margin-top: 0;
    margin-right: 243px;
    margin-left: 12px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -73px;
    margin-left: 108px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 19px;
    margin-right: 0;
    margin-left: 108px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-icon-2 {
    width: 85px;
    height: 85px;
    margin-top: 0;
    margin-right: 243px;
    margin-left: 12px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -73px;
    margin-left: 108px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 19px;
    margin-right: 0;
    margin-left: 108px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-icon-3 {
    width: 85px;
    height: 85px;
    margin-top: 0;
    margin-right: 243px;
    margin-left: 12px;
  }

  .u-section-5 .u-text-7 {
    margin-top: -73px;
    margin-left: 108px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 19px;
    margin-right: 0;
    margin-left: 108px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1132px;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  line-height: 1.6;
  margin: 20px 0 0;
}

.u-section-6 .u-image-1 {
  height: 632px;
  margin-top: 34px;
  margin-bottom: 0;
}

.u-section-6 .u-group-elements-1 {
  min-height: 318px;
  margin-top: 34px;
  margin-bottom: 0;
  height: auto;
  width: 1140px;
}

.u-section-6 .u-text-3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2;
  margin: 0;
}

.u-section-6 .u-text-4 {
  line-height: 1.6;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1334px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-6 .u-group-elements-1 {
    margin-bottom: 45px;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1356px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 0;
  }

  .u-section-6 .u-group-elements-1 {
    min-height: 402px;
    width: 720px;
    margin: -13px auto 60px -11px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1214px;
  }

  .u-section-6 .u-image-1 {
    height: 447px;
    margin-top: 9px;
  }

  .u-section-6 .u-group-elements-1 {
    margin-top: 20px;
    min-height: 397px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-6 .u-image-1 {
    height: 242px;
  }

  .u-section-6 .u-group-elements-1 {
    min-height: 547px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 847px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 600;
  margin: 42px 0 0;
}

.u-section-7 .u-text-2 {
  line-height: 1.6;
  margin: 20px 0 0;
}

.u-section-7 .u-image-1 {
  height: 627px;
  margin-top: 27px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 47px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -23px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-7 .u-image-1 {
    height: 380px;
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 41px;
  }

  .u-section-7 .u-image-1 {
    height: 246px;
    margin-top: 41px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 784px;
}

.u-section-8 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 77px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 600;
  margin: 16px 0 0;
}

.u-section-8 .u-text-3 {
  line-height: 1.6;
  margin: 16px 0 0;
}

.u-section-8 .u-list-1 {
  margin-top: 38px;
  margin-bottom: 37px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 454px;
  grid-gap: 10px 10px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 13px 20px;
}

.u-section-8 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-8 .u-text-5 {
  letter-spacing: 0px;
  line-height: 1.6;
  margin: 20px -1px 0 20px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 13px 20px;
}

.u-section-8 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-8 .u-text-7 {
  letter-spacing: 0px;
  line-height: 1.8;
  margin: 20px -1px 0 20px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 13px 20px;
}

.u-section-8 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-8 .u-text-9 {
  letter-spacing: 0px;
  line-height: 1.8;
  margin: 20px -1px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 373px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-list-1 {
    margin-top: 102px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 874px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1361px;
  }

  .u-section-8 .u-list-1 {
    margin-top: 75px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1665px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-list-1 {
    margin-top: 16px;
    margin-bottom: 43px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 1151px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 749px;
}

.u-section-9 .u-text-1 {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 600;
  margin: 0;
}

.u-section-9 .u-text-2 {
  line-height: 1.6;
  margin: 16px 0 0;
}

.u-section-9 .u-image-1 {
  height: 521px;
  width: 1036px;
  margin: 38px auto 60px 40px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-9 .u-image-1 {
    width: 940px;
    height: 472px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-9 .u-image-1 {
    width: 720px;
    height: 362px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 272px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 171px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 1112px;
}

.u-section-10 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 21px 0 0;
}

.u-section-10 .u-text-2 {
  line-height: 1.6;
  margin: 26px 0 0;
}

.u-section-10 .u-text-3 {
  line-height: 1.6;
  margin: 19px 0 0;
}

.u-section-10 .u-text-4 {
  font-size: 1.875rem;
  line-height: 2;
  font-weight: 700;
  margin: 42px 0 0;
}

.u-section-10 .u-image-1 {
  height: 459px;
  width: 1083px;
  margin: 26px auto 55px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-10 .u-image-1 {
    height: 399px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-10 .u-image-1 {
    height: 306px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-10 .u-image-1 {
    height: 230px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1299px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-10 .u-image-1 {
    height: 145px;
    width: 340px;
    margin-top: 27px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 1018px;
}

.u-section-11 .u-text-1 {
  line-height: 1.6;
  margin: 52px 0 0;
}

.u-section-11 .u-image-1 {
  width: 728px;
  height: 809px;
  margin: 10px 0 0 auto;
}

.u-section-11 .u-text-2 {
  font-size: 1.875rem;
  line-height: 2;
  font-weight: 700;
  margin: -726px 735px 0 0;
}

.u-section-11 .u-text-3 {
  line-height: 1.6;
  margin: 40px 721px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-top: 66px;
  }

  .u-section-11 .u-image-1 {
    width: 543px;
    margin-top: 0;
  }

  .u-section-11 .u-text-2 {
    margin-top: -727px;
    margin-right: 535px;
  }

  .u-section-11 .u-text-3 {
    width: auto;
    margin-right: 543px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1435px;
  }

  .u-section-11 .u-image-1 {
    width: 578px;
    height: 650px;
    margin-top: 577px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -1145px;
    margin-right: 315px;
  }

  .u-section-11 .u-text-3 {
    margin-top: 76px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1313px;
  }

  .u-section-11 .u-image-1 {
    height: 607px;
    margin-top: 500px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-top: -1066px;
    margin-right: 135px;
  }

  .u-section-11 .u-text-3 {
    margin-top: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1237px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 63px;
  }

  .u-section-11 .u-image-1 {
    height: 411px;
    margin-top: 613px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-2 {
    margin-top: -961px;
    margin-right: 0;
  }

  .u-section-11 .u-text-3 {
    margin-top: 27px;
  }
} .u-section-12 {
  min-height: 318px;
}

.u-section-12 .u-sheet-1 {
  min-height: 908px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 908px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-12 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 132px auto 0 0;
}

.u-section-12 .u-text-2 {
  margin: 40px 0 0;
}

.u-section-12 .u-image-1 {
  min-height: 908px;
  background-image: url("images/1.21.webp");
  background-position: 50% 50%;
}

.u-section-12 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 749px;
  }

  .u-section-12 .u-image-1 {
    min-height: 749px;
  }
}

@media (max-width: 991px) {
   .u-section-12 {
    min-height: 341px;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-top: 100px;
    margin-bottom: 60px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 816px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-12 .u-text-2 {
    width: auto;
    margin-top: 37px;
    margin-right: 9px;
  }

  .u-section-12 .u-image-1 {
    min-height: 816px;
  }
}

@media (max-width: 767px) {
   .u-section-12 {
    min-height: 662px;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 1659px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 445px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 0;
  }

  .u-section-12 .u-image-1 {
    min-height: 999px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1492px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 803px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 96px;
    margin-right: 0;
  }

  .u-section-12 .u-text-2 {
    margin-top: 38px;
  }

  .u-section-12 .u-image-1 {
    min-height: 629px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 1121px;
}

.u-section-13 .u-text-1 {
  font-size: 1.875rem;
  line-height: 2;
  font-weight: 700;
  margin: 48px 0 0;
}

.u-section-13 .u-text-2 {
  line-height: 1.6;
  margin: 39px 0 0;
}

.u-section-13 .u-image-1 {
  height: 689px;
  margin-top: 48px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-13 .u-image-1 {
    margin-top: 29px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1014px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-13 .u-image-1 {
    margin-top: -36px;
    margin-bottom: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-13 .u-image-1 {
    height: 450px;
    margin-top: 31px;
    margin-bottom: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-13 .u-image-1 {
    height: 306px;
    margin-top: 39px;
    margin-bottom: 60px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 578px;
}

.u-section-14 .u-text-1 {
  margin: 0 0 60px;
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 685px;
  }
}