.u-section-1 .u-sheet-1 {
  min-height: 684px;
}

.u-section-1 .u-tabs-1 {
  min-height: 526px;
  height: auto;
  margin-top: 104px;
  margin-bottom: 0;
}

.u-section-1 .u-tab-list-1 {
  background-image: none;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-1 .u-group-1 {
  min-height: 408px;
  margin-top: 16px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 538px;
  height: 378px;
  margin: 15px auto 0 15px;
}

.u-section-1 .u-text-1 {
  margin: -329px 0 0 613px;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 14px 0;
}

.u-section-1 .u-group-2 {
  min-height: 408px;
  height: auto;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 538px;
  height: 378px;
  margin: 15px auto 0 15px;
}

.u-section-1 .u-text-2 {
  margin: -329px 0 0 613px;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-group-3 {
  min-height: 408px;
  height: auto;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding-bottom: 30px;
}

.u-section-1 .u-image-3 {
  width: 538px;
  height: 378px;
  margin: 15px auto 0 15px;
}

.u-section-1 .u-text-3 {
  margin: -329px 0 0 613px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.4;
  margin: -563px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: 458px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -378px;
    margin-left: 564px;
  }

  .u-section-1 .u-group-2 {
    min-height: 458px;
    height: auto;
  }

  .u-section-1 .u-image-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -378px;
    margin-left: 564px;
  }

  .u-section-1 .u-group-3 {
    min-height: 458px;
    height: auto;
  }

  .u-section-1 .u-image-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -378px;
    margin-left: 564px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 15px;
    margin-bottom: -16px;
    min-height: 697px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 34px;
    margin-left: 0;
    margin-bottom: -245px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 15px;
    margin-bottom: -16px;
    min-height: 697px;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 34px;
    margin-left: 0;
    margin-bottom: -245px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 15px;
    margin-bottom: -16px;
    min-height: 697px;
  }

  .u-section-1 .u-image-3 {
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 34px;
    margin-left: 0;
    margin-bottom: -245px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-bottom: -275px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 60px;
    margin-bottom: -275px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 60px;
    margin-bottom: -275px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-bottom: -31px;
    min-height: 647px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 239px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: -206px;
  }

  .u-section-1 .u-group-2 {
    margin-bottom: -31px;
    min-height: 647px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 239px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: -206px;
  }

  .u-section-1 .u-group-3 {
    margin-bottom: -31px;
    min-height: 647px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 239px;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: -206px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 747px;
}

.u-section-2 .u-shape-1 {
  width: 430px;
  height: 60px;
  background-image: none;
  margin: 70px auto 0 247px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 4.5rem;
  margin: -60px 356px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 570px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.6;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 431px;
  height: 431px;
  margin: -457px 39px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 156px;
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-2 .u-image-1 {
    width: 343px;
    height: 343px;
    margin-top: -343px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-2 .u-image-1 {
    width: 269px;
    height: 269px;
    margin-top: -269px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 110px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-right: 51px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 276px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 174px;
  }

  .u-section-2 .u-image-1 {
    width: 182px;
    height: 174px;
    margin-top: -174px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 858px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 830px;
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 369px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px 18px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 16px 34px 17px 32px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 369px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-3 .u-group-1 {
  min-height: 309px;
  height: auto;
  width: 333px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-icon-1 {
  width: 88px;
  height: 88px;
  background-image: none;
  margin: 89px 0 0 auto;
  padding: 19px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 369px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 29px 30px 30px;
}

.u-section-3 .u-group-2 {
  min-height: 309px;
  height: auto;
  width: 333px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-icon-2 {
  width: 88px;
  height: 88px;
  background-image: none;
  margin: 65px 0 0 auto;
  padding: 19px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 369px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 29px;
}

.u-section-3 .u-group-3 {
  min-height: 309px;
  height: auto;
  width: 333px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-icon-3 {
  width: 88px;
  height: 88px;
  background-image: none;
  margin: 89px 0 0 auto;
  padding: 19px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-group-1 {
    width: 302px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-group-2 {
    width: 301px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-group-3 {
    width: 302px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1393px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1346px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 39px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 603px;
}

.u-section-4 .u-shape-1 {
  width: 412px;
  height: 66px;
  background-image: none;
  margin: 60px auto 0 440px;
}

.u-section-4 .u-text-1 {
  line-height: 1.2;
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -65px 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 184px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  margin: 50px auto 60px 0;
  padding: 17px 39px 18px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 151px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: -16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 308px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 128px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 725px;
}

.u-section-5 .u-list-1 {
  width: 634px;
  margin: 60px auto 0 506px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 605px;
  grid-gap: 10px;
}

.u-section-5 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 70px;
  width: 70px;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -578px 634px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 35px 634px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 279px;
  height: 279px;
  margin: 156px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-5 .u-list-1 {
    margin-left: 306px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-right: 272px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 434px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 35px;
    margin-bottom: -101px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1283px;
  }

  .u-section-5 .u-list-1 {
    width: 437px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 726px;
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-5 {
    margin-right: 52px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 214px;
  }

  .u-section-5 .u-image-1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 656px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 1136px;
  margin: 16px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 8px));
  min-height: 292px;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 10px 30px 0;
}

.u-section-6 .u-image-1 {
  width: 120px;
  height: 120px;
  margin: 16px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 34px auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 16px auto 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 10px 30px 0;
}

.u-section-6 .u-image-2 {
  width: 120px;
  height: 120px;
  margin: 16px auto 0 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 34px auto 0 0;
}

.u-section-6 .u-text-5 {
  margin: 16px auto 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 10px 30px 0;
}

.u-section-6 .u-image-3 {
  width: 120px;
  height: 120px;
  object-position: 50% 30%;
  margin: 16px auto 0 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 34px auto 0 0;
}

.u-section-6 .u-text-7 {
  margin: 16px auto 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 10px 30px 0;
}

.u-section-6 .u-image-4 {
  width: 120px;
  height: 120px;
  object-position: 50% 36.67%;
  margin: 16px auto 0 0;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  margin: 34px auto 0 0;
}

.u-section-6 .u-text-9 {
  margin: 16px auto 0 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 10px 30px 0;
}

.u-section-6 .u-image-5 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  margin: 16px auto 0 0;
}

.u-section-6 .u-text-10 {
  font-weight: 700;
  margin: 34px auto 0 0;
}

.u-section-6 .u-text-11 {
  margin: 16px auto 0 0;
}

.u-section-6 .u-text-12 {
  margin: 16px 0 53px 570px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 240px;
  }

  .u-section-6 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-image-3 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-image-4 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-image-5 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-text-12 {
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    min-height: 632px;
  }

  .u-section-6 .u-text-12 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1200px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 826px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 6px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 6px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 6px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 6px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 6px;
  }

  .u-section-6 .u-text-12 {
    width: auto;
    margin-top: 26px;
    margin-left: 0;
    margin-bottom: -178px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1767px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 739px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -14px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 619px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  width: 236px;
  height: 236px;
  margin: 0 auto;
  padding: 41px;
}

.u-section-7 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px 4px 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 619px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 363px;
  height: 311px;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  margin: 19px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-text-4 {
  font-size: 1rem;
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 48px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 510px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    width: 300px;
    height: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 718px;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 60px auto 0 0;
}

.u-section-8 .u-shape-1 {
  width: 323px;
  height: 60px;
  background-image: none;
  margin: 60px 497px 0 320px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -60px 439px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 37px 539px 0 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 52px 0 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 180px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 180px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  margin: 0 262px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-8 .u-shape-1 {
    margin-right: 397px;
    margin-left: 220px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-right: 185px;
    margin-left: 1px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 339px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 162px;
  }

  .u-section-8 .u-text-3 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-8 .u-shape-1 {
    margin-right: 287px;
    margin-left: 110px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 119px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-8 .u-shape-1 {
    margin-right: 197px;
    margin-left: 20px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-8 .u-shape-1 {
    margin-right: 17px;
    margin-left: 0;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-3 {
    font-size: 3.75rem;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 330px;
}

.u-section-9 .u-list-1 {
  margin-top: 70px;
  margin-bottom: 40px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(7, calc(14.2857% - 8.57143px));
  min-height: 190px;
  grid-gap: 10px;
}

.u-section-9 .u-container-layout-1 {
  padding: 10px;
}

.u-section-9 .u-image-1 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-2 {
  padding: 10px;
}

.u-section-9 .u-image-2 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-3 {
  padding: 10px;
}

.u-section-9 .u-image-3 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-4 {
  padding: 10px;
}

.u-section-9 .u-image-4 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-5 {
  padding: 10px;
}

.u-section-9 .u-image-5 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-6 {
  padding: 10px;
}

.u-section-9 .u-image-6 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-7 {
  padding: 10px;
}

.u-section-9 .u-image-7 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-9 .u-list-1 {
    margin-bottom: -196px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 421px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-9 .u-list-1 {
    margin-bottom: -624px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 607px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 50px;
    margin-bottom: -574px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 675px;
}

.u-section-10 .u-list-1 {
  width: 707px;
  margin: 120px auto 0 0;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 495px;
  grid-gap: 20px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 0 10px 27px;
}

.u-section-10 .u-icon-1 {
  width: 128px;
  height: 128px;
  background-image: none;
  margin: -64px auto 0;
  padding: 32px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 37px auto 0;
}

.u-section-10 .u-text-2 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-10 .u-text-3 {
  line-height: 1.8;
  letter-spacing: 0px;
  text-align: center;
  width: 205px;
  margin: 30px auto 0;
}

.u-section-10 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 38px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-10 .u-list-item-2 {
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 0 10px 27px;
}

.u-section-10 .u-icon-2 {
  width: 128px;
  height: 128px;
  background-image: none;
  margin: -64px auto 0;
  padding: 32px;
}

.u-section-10 .u-text-4 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 37px auto 0;
}

.u-section-10 .u-text-5 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-10 .u-text-6 {
  line-height: 1.8;
  letter-spacing: 0px;
  text-align: center;
  width: 205px;
  margin: 30px auto 0;
}

.u-section-10 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 38px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-10 .u-text-7 {
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  margin: -495px 0 0 795px;
}

.u-section-10 .u-text-8 {
  margin: 37px 188px 0 795px;
}

.u-section-10 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 38px 177px 60px auto;
  padding: 17px 42px 17px 40px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-10 .u-text-7 {
    width: auto;
    margin-top: 60px;
    margin-left: 0;
  }

  .u-section-10 .u-text-8 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-10 .u-btn-3 {
    margin-right: auto;
    margin-bottom: -21px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1545px;
  }

  .u-section-10 .u-list-1 {
    width: 385px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1074px;
  }

  .u-section-10 .u-text-7 {
    margin-top: 53px;
    margin-right: 141px;
  }

  .u-section-10 .u-text-8 {
    width: auto;
  }

  .u-section-10 .u-btn-3 {
    margin-bottom: -24px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1317px;
  }

  .u-section-10 .u-text-7 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-10 .u-btn-3 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1194px;
  }

  .u-section-10 .u-list-1 {
    width: 340px;
  }

  .u-section-10 .u-text-7 {
    font-size: 1.5rem;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 609px;
}

.u-section-11 .u-text-1 {
  background-image: none;
  font-weight: 700;
  text-transform: none;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 641px 0 0;
}

.u-section-11 .u-text-2 {
  font-style: normal;
  font-size: 1.125rem;
  margin: 25px 657px 0 0;
}

.u-section-11 .u-list-1 {
  width: 810px;
  margin: 40px 0 22px auto;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 269px;
  grid-gap: 30px;
}

.u-section-11 .u-list-item-1 {
  background-image: none;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 9px;
}

.u-section-11 .u-icon-1 {
  width: 61px;
  height: 61px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
  padding: 18px;
}

.u-section-11 .u-text-3 {
  margin: 25px 35px 0;
}

.u-section-11 .u-text-4 {
  margin: 17px 0 0;
}

.u-section-11 .u-list-item-2 {
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 9px;
}

.u-section-11 .u-icon-2 {
  width: 61px;
  height: 61px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
  padding: 18px;
}

.u-section-11 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px 35px 0;
}

.u-section-11 .u-text-6 {
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-right: 441px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 457px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 221px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 237px;
  }

  .u-section-11 .u-list-1 {
    width: 720px;
    margin-bottom: 60px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-11 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    margin-right: 41px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 57px;
  }

  .u-section-11 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
  }

  .u-section-11 .u-list-1 {
    width: 340px;
  }
}